<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>

  <link rel="stylesheet" href="/stylesheet/reset.css">
  <link rel="stylesheet" href="/stylesheet/style.css">

</head>
<body>
  <nav>
    <img src="/img/icons8-darth-vader-96.png" alt="">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Photo Gallery</a>
  </nav>

  <h1>Welcome to the dark side</h1>
  <p>
      Darth Vader, también conocido por su nombre de nacimiento Anakin Skywalker, es un personaje de ficción en la franquicia de Star Wars. Vader aparece en la trilogía original como un antagonista cuyas acciones dirigen la trama, mientras que su pasado como Anakin Skywalker y la historia de su corrupción por Darth Sidious son centrales en la narrativa de la trilogía de la precuela.

      El personaje fue creado por George Lucas y ha sido retratado por numerosos actores. Sus apariciones abarcan las primeras seis películas de Star Wars, así como Rogue One, y su personaje está fuertemente referenciado en Star Wars: Episodio VII - El despertar de la Fuerza. También es un personaje importante en el universo expandido de Star Wars de series de televisión, videojuegos, novelas, literatura y cómics. Darth Vader se ha convertido en uno de los villanos más emblemáticos de la cultura popular, y ha figurado entre los más grandes villanos y personajes ficticios de la historia.
  </p>
</body>
</html>